### 24 Programming languages that pay top salaries

### Web Scraping -

In [1]:
# importing the libraries

import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import credentials as cre
import boto3
from io import StringIO

In [11]:
# getting url
url ='https://content.techgig.com/technology/24-highest-paying-programming-languages-for-developers/articleshow/76243434.cms'

website = requests.get(url)
soup = BeautifulSoup(website.content, 'html.parser')

In [3]:
lst_language = [] # list for collecting languages names
Average_annual_salary = []  # list for collecting Average_annual_salary
for data in soup.find_all(["li","ol"]):
    if data.get_text().endswith('per annum'):
        lst_language.append(data.get_text().split()[0])
        # extracting numbers from data and replacing ',' from salary 
        Average_annual_salary.append(re.findall(r'[0-9]{2,3}\,[0-9]{3}',data.get_text())[0].replace(',',''))

In [4]:
# Creating dictionary for dataframe
language_salary ={'language':lst_language,'Average_annual_salary':Average_annual_salary}
language_salary

{'language': ['Scala',
  'Go',
  'Objective-C',
  'Kotlin',
  'Perl',
  'Ruby',
  'Rust',
  'C',
  'Swift',
  'Haskell',
  'Assembly',
  'Bash/Shell/PowerShell',
  'C++',
  'Java',
  'Python',
  'TypeScript',
  'JavaScript',
  'C#',
  'Dart',
  'HTML/CSS',
  'SQL',
  'R',
  'PHP',
  'VBA'],
 'Average_annual_salary': ['150000',
  '140000',
  '135000',
  '130000',
  '130000',
  '130000',
  '130000',
  '125000',
  '125000',
  '121000',
  '120000',
  '120000',
  '120000',
  '120000',
  '120000',
  '120000',
  '112000',
  '110000',
  '110000',
  '110000',
  '110000',
  '109000',
  '100000',
  '97000']}

In [5]:
# Creating Dataframe
df_language = pd.DataFrame(language_salary)
df_language

                 language Average_annual_salary
0                   Scala                150000
1                      Go                140000
2             Objective-C                135000
3                  Kotlin                130000
4                    Perl                130000
5                    Ruby                130000
6                    Rust                130000
7                       C                125000
8                   Swift                125000
9                 Haskell                121000
10               Assembly                120000
11  Bash/Shell/PowerShell                120000
12                    C++                120000
13                   Java                120000
14                 Python                120000
15             TypeScript                120000
16             JavaScript                112000
17                     C#                110000
18                   Dart                110000
19               HTML/CSS                110000
20                    SQL                110000
21                      R                109000
22                    PHP                100000
23                    VBA                 97000

### Data Loading to S3 -

In [6]:
# Connecting to AWS

session = boto3.Session(
    aws_access_key_id=cre.Access_key,
    aws_secret_access_key=cre.Secret_key)

In [10]:
# Loading data to S3 bucket
s3 = session.resource('s3')
bucket_name = 'yu-stackoverflow-data-staging'
csv_buffer = StringIO()
df_language.to_csv(csv_buffer, index = False)
s3.Object(bucket_name, 'languages.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'ETKGNG15YRPCB0DF',
  'HostId': 'V0er4O1X5B+Qfubi3NboKthyJzkc6cGRJkUEh34ask8j9bScStNgI4/tt1fPDIcvrnVJ5dulRag=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'V0er4O1X5B+Qfubi3NboKthyJzkc6cGRJkUEh34ask8j9bScStNgI4/tt1fPDIcvrnVJ5dulRag=',
   'x-amz-request-id': 'ETKGNG15YRPCB0DF',
   'date': 'Wed, 04 May 2022 21:32:53 GMT',
   'etag': '"fbf3eb1117ee41c57b7a1982d8f33d7f"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"fbf3eb1117ee41c57b7a1982d8f33d7f"'}